<form name="proveedoresForm">

    <div class="modal fade" tabindex="-1" role="dialog" id="proveedoresForm">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="star" ng-show="nuevoModel.Favorito"></span>
                    <h4 class="modal-title">{{nuevoModel.editar ? 'Modificar' : 'Agregar'}} Proveedor </h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>Proveedor</label>  <span class="required"> *</span>
                        <input type="text" class="form-control" placeholder="Nombre del proveedor" required ng-model="nuevoModel.Nombre" min-length="4">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="nuevoModel.Activo"> Activo
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">

                                <label>RNC</label>

                                <input type="text" ng-unique="/api/Proveedores/ExisteRNC" ng-modid="{{nuevoModel.IdProveedor}}" ng-model="nuevoModel.RNC" class="form-control"
                                       ng-minlength="8" ng-maxlength="12" ng-class="{'required-dirty' : proveedoresForm.RNC.$dirty && proveedoresForm.RNC.$invalid}" name="RNC"
                                       ng-prevValue="{{editingModel.RNC}}" />

                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label>Tel&eacute;fono</label>
                                <input type="tel" class="form-control" placeholder="xxx-xxx-xxxxx" ng-model="nuevoModel.Telefono">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <div ng-show="proveedoresForm.RNC.$error.unique && proveedoresForm.RNC.$dirty" class="alert alert-danger" role="alert">
                                Este n&uacute;mero de <strong>RNC</strong> ya esta asociado al proveedor <strong>{{uniquemsg}}</strong>.
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" data-dismiss="modal" ng-click="restablecerNuevo('#proveedoresForm .modal-footer')">Cerrar</button>
                    <button type="submit" class="btn btn-success" ng-disabled="proveedoresForm.$invalid" ng-click="nuevoModel.editar ? guardar(nuevoModel, '#proveedoresForm .modal-footer') : agregar('#proveedoresForm .modal-footer')" data-dismiss="modal">Guardar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>
