<form name="vehiculoForm">

    <div class="modal fade" tabindex="-1" role="dialog" id="manageVehiculo">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="star" ng-show="SelCliente.Favorito"></span>
                    <h4 class="modal-title">{{nuevoModel.editar ? 'Modificar' : 'Agregar'}} Veh&iacute;culo</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Propietario</label><span class="required" ng-if="!isOrden"> *</span>
                        <select class="form-control" ng-model="nuevoModel.IdCliente" required ng-options="cliente.IDCliente as cliente.Nombre for cliente in clientes" ng-if="!isOrden"></select>
                        <span ng-if="isOrden">{{SelCliente.Nombre}}</span>
                    </div>
                    <div class="form-group row">

                        <div class="col-md-4">
                            <label>Marca</label><span class="required"> *</span>
                            <div>
                                <button type="button" class="btn btn-success" onclick="switchModal(this, '#manageModelo')" ng-click="setMarca({})">
                                    <i class="fa fa-plus-square"></i>
                                </button>
                                <select class="form-control" ng-model="SelectedMarca" ng-options="marca as marca.Nombre for marca in marcas"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Modelo</label><span class="required"> *</span>
                            <div>
                                <button type="button" class="btn btn-success" ng-click="setMarca(SelectedMarca)" onclick="switchModal(this, '#manageModelo')">
                                    <i class="fa fa-plus-square"></i>
                                </button>
                                <select class="form-control" ng-model="nuevoModel.IdModelo" required ng-options="modelo.IdModelo as modelo.Nombre for modelo in SelectedMarca.Modelos"></select>
                            </div>
                            </div>
                        <div class="col-md-2">
                            <label>A&ntilde;o</label><span class="required"> *</span>
                            <input type="number" required ng-model="nuevoModel.Anio" class="form-control" ng-maxlength="4" ng-minlength="4" ng-class="{'required-dirty' : vehiculoForm.Anio.$dirty && vehiculoForm.Anio.$invalid}" name="Anio" />
                        </div>

                        <div class="col-md-2">
                            <label>Color</label>
                            <input type="text" ng-model="nuevoModel.Color" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Motor</label>
                            <input type="text" ng-model="nuevoModel.Motor" class="form-control" />
                        </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Combustible</label> <span class="required"> *</span>
                                    <select class="form-control" name="IdCombustible" ng-model="nuevoModel.IdCombustible" required ng-options="com.IdCombustible as com.Nombre for com in combustibles | orderObjectBy: 'Nombre' : '-'"></select>
                                    
                                </div>
                            </div>
                      

                        <div class="col-md-4">
                            <label>{{nuevoModel.UnidadDistancia == 'Km' ? 'Kilometraje' : 'Millaje' }}</label>
                            <div class="row">
                                <div class="col-md-5">
                                    <select class="form-control" ng-model="nuevoModel.UnidadDistancia">
                                        <option>Km</option>
                                        <option>Mi</option>
                                    </select>
                                </div>

                                <div class="col-md-7">
                                    <input type="text" ng-model="nuevoModel.Kilometraje" class="form-control" pattern="[0-9]+(\.[0-9][0-9]?)?" />
                                </div>
                            </div>
                        </div>
                          
                        </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label>Placa </label>
                                <input type="text" ng-unique="/api/Vehiculos/ExistePlaca" ng-modid="{{nuevoModel.IdVehiculo}}" ng-model="nuevoModel.Placa" ng-prevValue="{{editingModel.Placa}}"
                                       class="form-control" ng-minlength="7" ng-maxlength="8" ng-class="{'required-dirty' : vehiculoForm.Placa.$dirty && vehiculoForm.Placa.$invalid}" name="Placa" />

                            </div>
                            <div class="col-md-8">
                                <label>No. Chasis</label>
                                <input type="text" ng-model="nuevoModel.NoChasis" class="form-control" />
                            </div>

                        </div>
                        </div>
                    <div class="row">
                        <div class="col-md-12">

                            <div ng-show="vehiculoForm.Placa.$error.unique && vehiculoForm.Placa.$dirty" class="alert alert-danger" role="alert">
                                Esta <strong>placa</strong> ya esta asociada a un veh&iacute;culo.
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group ">
                                <label>Insumos</label>
                                <div layout="column" ng-cloak="">
                                    <md-chips ng-model="nuevoModel.Insumos" md-autocomplete-snap="" md-transform-chip="transformInsumo($chip)">
                                        <md-autocomplete md-selected-item="selInsumo" md-search-text="buscarInsumo" md-items="item in querySearch(buscarInsumo)"
                                                         md-item-text="item.Nombre" placeholder="Buscar insumo">
                                            <span md-highlight-text="buscarInsumo">{{item.Nombre}} </span>
                                        </md-autocomplete>
                                        <md-chip-template>
                                            <span>
                                                <strong>{{$chip.Nombre}} {{$chip.isNew ? '(+)' : ''}}</strong>
                                            </span>
                                        </md-chip-template>
                                    </md-chips>
                                </div>
                            </div>

                        </div>
                    </div>
                    </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal" ng-click="restablecerNuevo()">Cerrar</a>
                    <a class="btn btn-success" ng-disabled="vehiculoForm.$invalid" ng-click="nuevoModel.editar ? guardar() : agregar()" data-dismiss="modal">Guardar</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>
{{modalCaller='#manageVehiculo';""}}
<manage-model ng-controller="ModelosController"></manage-model>