
    <div class="modal fade" tabindex="-1" role="dialog" id="viewVehicle">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="star" ng-show="SelCliente.Favorito"></span>
                    <h4 class="modal-title">Veh&iacute;culo Detalle</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Propietario:</label>
                        <span>{{SelCliente.Nombre}}</span>
                    </div>
                    <div class="form-group row">

                        <div class="col-md-6">
                            <label>Vehiculo:</label>
                            {{nuevoModel.Info}} {{nuevoModel.Color}}
                        </div>
                        <div class="col-md-6">
                            <label>Motor:</label>
                            {{nuevoModel.Motor}}
                        </div>
                      
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Combustible:</label>
                            {{nuevoModel.Combustible.Nombre}}
                        </div>
                        <div class="col-md-3">
                            <label>{{nuevoModel.UnidadDistancia == 'Km' ? 'Kilometraje' : 'Millaje' }}:</label> {{nuevoModel.Kilometraje}}
                        </div>
                      
                        <div class="col-md-5">
                            <label>Placa:</label> {{nuevoModel.Placa}} 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label>No. Chasis:</label> {{nuevoModel.NoChasis}}
                        </div>
                    </div>
                        <div class="form-group row">
                            <div class="col-md-7">
                                <label>Insumos:</label>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="ins in nuevoModel.Insumos">
                                        {{ins.Nombre}}
                                    </li>
                                </ul>
                            </div>
                            </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal" ng-click="restablecerNuevo()">Cerrar</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
