.nav-tabs {
    margin-bottom: 15px !important;
}

.panel-heading-veh, .page-header-edit, .editor {
    cursor: pointer;
}

.client-box {
    margin-top: 25px;
}

.md-datepicker-calendar-pane, .md-autocomplete-suggestions-container, .md-select-menu-container, .bootstrap-timepicker-widget {
    z-index: 1050 !important;
}

span.required {
    color: red;
}

span.star:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    content: "\f005";
    padding-right: 5px;
    color: #e3cf7a;
    font-size: 25px;
    position: absolute;
    right: 15px;
}

.required-dirty {
    border-color: red !important;
}

.loading-spiner {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url("../Content/img/balls.gif") 50% 50% no-repeat;
    z-index: 2000 !important;
}

.panel-red {
    border-color: #ED1C24;
    background-color: #eee;
}

.flex-item {
    flex-grow: 1;
    margin: 10px;
}


.modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #ED1C24;
    color: #fff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.panel-title a {
    color: #fff !important;
    font-weight: 500 !important;
}

body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
}
/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

.notificacion-citas {
    position: absolute;
    padding: 5px;
    background-color: #b94a48;
    border-radius: 10px;
    bottom: 12px;
}
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.dropdown-marcas {
    display: inline-block;
    padding: 25px 15px 15px 0;
}

.modal-huge-area {
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.list-group-item .form-control {
    width: 80%;
    display: inline;
}

.confirm-delete-section {
    text-align: center;
}

.btn-success ~ .form-control {
    width: 83.25%;
    display: inline;
}

pre {
    padding: 13px !important;
}

.fa-times {
    color: darkred;
    cursor: pointer;
}

.row {
    margin-top: 5px;
}

.diag-item p {
    min-height: 50px;
}
/*
.modal-body {
    max-height: calc(100vh - 170px);
    overflow-y: auto;
}
*/

.page-header {
    color: #d9534f;
    border-bottom-color: #d9534f !important;
}

    

.row-agregar-diagnostico {
    padding-bottom: 25px;
}

#nuevaOrdenTrabajo .modal-body {
    min-height: 365px;
}

#nuevaOrdenTrabajo .modal-footer {
    clear: both;
}

#nuevaOrdenTrabajo .modal-body label {
    margin-bottom: 0;
}

#nuevaOrdenTrabajo h3, #viewOrder h3 {
    color: #d9534f;
    font-weight: bold;
    border-bottom: solid 1px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    opacity: 0.8;
}


#otinfo h3 {
    margin: 0;
}

#otInsumos .panel-title {
    min-height: 45px;
}

#otInsumos .panel-insumo-cotizado .panel-footer {
    min-height: 65px;
}

#otInsumos .insumo-cotizado {
    padding: 15px;
    width: 300px;
    display: inline-block;
    height: 420px;
}

#otInsumos .insumos-aprobados-empty {
    padding: 15px;
}

.btn-titulo {
    width: 120px;
}

.modal-lg {
    width: 1000px !important;
}

.hr-dashed {
    border-style: dashed;
    border-width: 0.5px;
}

/*UPPERCASEs*/
.list-item-categoria p, .btn {
    text-transform: uppercase;
}

.list-item-categoria {
    padding: 6px !important;
    margin: 0;
    margin-top: 5px;
}

    .list-item-categoria p {
        text-align: center;
        font-size: 17px;
        font-weight: 600;
        margin: 0;
    }

    #proveedoresForm .prov-area-sel{
        padding:5px 10px;
        margin:5px;
        border:1px solid;
        border-color:gray;
    }
#tabActiveOrders .orden-activa-cuerpo {
    height: 170px;
    position: relative;
}

    #tabActiveOrders .orden-activa-cuerpo > .info-final {
        position: absolute;
        bottom: 0;
        width: 98%;
    }

#nuevaOrdenTrabajo .radio {
    margin: 0;
}

@media(max-width:767px) {
    #nuevaOrdenTrabajo .panel-body {
        height: 176px;
    }
}
