################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/medecawebapp/bin
/medecawebapp/obj/Debug
/medecawebapp/packages
/medecawebapp/scripts/i18n
/medecawebapp/scripts/angular-touch.min.js
/medecawebapp/scripts/angular-touch.js
/medecawebapp/scripts/angular-scenario.js
/medecawebapp/scripts/angular-sanitize.min.js.map
/medecawebapp/scripts/angular-sanitize.min.js
/medecawebapp/scripts/angular-sanitize.js
/medecawebapp/scripts/angular-route.min.js.map
/medecawebapp/scripts/angular-route.min.js
/medecawebapp/scripts/angular-route.js
/medecawebapp/scripts/angular-resource.min.js.map
/medecawebapp/scripts/angular-resource.min.js
/medecawebapp/scripts/angular-resource.js
/medecawebapp/scripts/angular-mocks.js
/medecawebapp/scripts/angular-messages.min.js.map
/medecawebapp/scripts/angular-messages.min.js
/medecawebapp/scripts/angular-messages.js
/medecawebapp/scripts/angular-message-format.min.js.map
/medecawebapp/scripts/angular-message-format.min.js
/medecawebapp/scripts/angular-message-format.js
/medecawebapp/scripts/angular-loader.min.js.map
/medecawebapp/scripts/angular-loader.min.js
/medecawebapp/scripts/angular-loader.js
/medecawebapp/scripts/angular-csp.css
/medecawebapp/scripts/angular-cookies.min.js.map
/medecawebapp/scripts/angular-cookies.min.js
/medecawebapp/scripts/angular-cookies.js
/medecawebapp/scripts/angular-aria.min.js.map
/medecawebapp/scripts/angular-aria.min.js
/medecawebapp/scripts/angular-aria.js
/medecawebapp/scripts/angular-animate.min.js.map
/medecawebapp/scripts/angular-animate.min.js
/medecawebapp/scripts/angular-animate.js
