@{
    ViewBag.Title = "Clientes";
}

<div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                    <h1 >Clientes</h1>
                    <h5>En este modulo podra añadir y editar Clientes.</h5> 
                        </div>
                </div>
            </div>
<div class="row" ng-controller="ClientesController">
                <div class="col-lg-5 col-sm-5 col-xs-8">

    <table class="table table-striped">
        <thead>
          <tr>  <th>
            Nombre
        </th>
              <th>Identificacion</th>
            <th>Telefono</th>

              <th></th>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="cliente in modelos">
            <td>
                {{cliente.Nombre}}
            </td>
            <td>
                {{cliente.TipoIdentificacion + ': ' +cliente.Identificacion}}
            </td>
               <td>
                {{cliente.Telefono}}
            </td>
            <td>
                <button type="submit" class="btn btn-warning" ng-click="editar(cliente)" data-toggle="modal" data-target="#manageClient"> <i class="fa fa-edit"></i></button>
               <button type="submit" class="btn btn-danger" ng-click="eliminarCliente(cliente)" data-toggle="modal" data-target="#confirmDelete" ng-if="cliente.CanDelete"> <i class="fa fa-trash-o"></i></button>
            </td>
        </tr>
            </tbody>
    </table>
                     
                    </div>
                <div class="col-lg-5 col-sm-5 col-xs-8">
               <button  class="btn btn-success" data-toggle="modal" data-target="#manageClient" > <i class="fa fa-plus-square"></i></button>
</div>
    <manage-client></manage-client>
    <div class="modal fade" tabindex="-1" role="dialog" id="confirmDelete">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmaci&oacute;n</h4>
                </div>
                <div class="modal-body">
                    Desea eliminar este Cliente?
                    <div>
                        <strong>{{deleteCliente.Nombre}}</strong>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success" data-dismiss="modal" ng-click="eliminar()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    </div>

