@{
    ViewBag.Title = "Marcas & Modelos";
}

  <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                    <h1 >Marcas & Modelos de Vehiculos</h1>
                    <h5>En este modulo podra añadir / editar marcas y modelos de Vehiculos.</h5>
                        </div>
                </div>
            </div>
<div class="row" ng-controller="ModelosController">
        <div class="col-md-12">
            <div class="input-group custom-search-form">
                <span class="input-group-btn">
                    <button class="btn btn-success" data-toggle="modal" data-target="#manageModelo" data-backdrop="static" data-keyboard="false"
                            ng-click="addModel()">
                        <i class="fa fa-plus-square"></i>
                    </button>
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>

                <input type="text" class="form-control" placeholder="Escriba aqu&iacute; la marca que desea buscar..." ng-disabled="!marcas"
                       ng-model="filter" >

            </div>

        </div>

                <div class="col-md-12">
                    <div style="display:inline-block" class="panel panel-red flex-item" ng-repeat="marca in marcas | filter: filter">
                        <div class="panel-heading" role="tab" data-toggle="modal"
                             data-backdrop="static" data-keyboard="false" data-target="#manageModelo" style="cursor:pointer" ng-click="editar(marca)">
                            <h4 class="panel-title">{{marca.Nombre}}</h4>
                        </div>
                    </div>
                    </div>
<manage-model></manage-model>    
</div>
