@{
    ViewBag.Title = "Ordenes Trabajos";
}
  
<div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                    <h1 >Ordenes Trabajos</h1>
                    <h5>En este modulo podr&aacute; crear y modificar ordenes de trabajos.</h5>
                        </div>
                </div>
            </div>
<div class="row" ng-controller="OrdenesTrabajosController">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-6">

                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Escriba aqu&iacute; Nombre de Cliente o Matricula del Veh&iacute;culo..." ng-disabled="!modelos"
                           ng-model="filter" value="">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                        <button class="btn btn-success" data-toggle="modal" data-target="#manageClient" data-backdrop="static" data-keyboard="false"
                                ng-click="addClient()">
                            <i class="fa fa-plus-square"></i>
                        </button>
                    </span>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 client-box" ng-repeat="cliente in modelos | porclienteoplaca: filter.toLowerCase()">
                    <span>
                        <a class="page-header-edit" ng-click="editClient(cliente)"
                           data-toggle="modal" data-target="#manageClient" >
                            <i class="fa fa-edit fa-2x"></i>
                        </a>

                        <span class="huge editor" data-toggle="modal" data-target="#viewClient" data-backdrop="static" data-keyboard="false" ng-click="editClient(cliente)">{{cliente.Nombre}} <small>Tel.: {{cliente.Telefono}}</small></span>
                    </span>
                    <hr />
                    <div class="row col-md-12 flex-box md-padding" layout-xs="column" layout="row">
                        <div class="panel panel-default" flex-xs flex-gt-xs="22" layout="column" style="margin-right:5px" ng-repeat="vehiculo in cliente.Vehiculos | getAllByKey: (cliente.PorPlaca ? 'Placa' : null ) : filter">

                            <div class="panel-heading panel-heading-veh" ng-click="editVeh(cliente, vehiculo)"
                                 data-toggle="modal" data-target="#viewVehicle" data-backdrop="static" data-keyboard="false">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-car fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div>{{vehiculo.Modelo.VehiculoMarca.Nombre + ' ' +vehiculo.Modelo.Nombre+' '+vehiculo.Anio}}</div>
                                        <div><strong>Placa {{vehiculo.Placa}}</strong> </div>
                                        <div>{{cliente.Nombre}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <button type="button" class="btn btn-default btn-block" ng-if="vehiculo.OrdenesTrabajos.length == 0" disabled>Sin servicios</button>
                                <div class="dropdown" ng-if="vehiculo.OrdenesTrabajos.length > 0">
                                    <button class="btn btn-default dropdown-toggle btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Ordenes
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li ng-repeat="ordenTrabajo in vehiculo.OrdenesTrabajos">
                                            <a href="#" class="" data-toggle="modal" data-target="#nuevaOrdenTrabajo" data-backdrop="static" data-keyboard="false" ng-click="editar(cliente, vehiculo, ordenTrabajo)">
                                                <i class="fa fa-comment fa-sticky-note"></i> {{ordenTrabajo.NoOrden}}
                                                <span class="pull-right text-muted small">
                                                    <em>{{ordenTrabajo.Fecha | date: 'dd/MM/yyyy'}}</em>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer panel-green" 
                                    data-toggle="modal" data-target="#nuevaOrdenTrabajo" ng-click="editar(cliente, vehiculo)">
                                        <span class="pull-left">Crear Orden</span>
                                        <span class="pull-right"><i class="fa fa-plus"></i></span>
                                        <div class="clearfix"></div>
                                </div>
                                </a>
                            <a href="#">
                                <div class="panel-footer panel-green" ng-click="editVeh(cliente, vehiculo)"
                                     data-toggle="modal" data-target="#manageVehiculo" data-backdrop="static" data-keyboard="false">

                                    <span class="pull-left">Editar</span>
                                    <span class="pull-right"><i class="fa fa-car"></i> <i class="fa fa-pencil"></i> </span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                        <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#manageVehiculo" data-backdrop="static" data-keyboard="false" ng-click="addVeh(cliente)"> <i class="fa fa-plus-square"></i></button>

                    </div>

                </div>
               
            </div>
        </div>
    </div>
    <div ng-controller="VehiculosController">
        <manage-vehiculo></manage-vehiculo>
        <view-vehicle></view-vehicle>
    </div>
    <div ng-controller="ClientesController">
        <manage-client ></manage-client>
        <view-client></view-client>
    </div>
    @* *******************************  OT FORM ******************************* *@
    <form name="modelForm">
    <div class="modal fade" tabindex="-1" role="dialog" id="nuevaOrdenTrabajo">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <span class="star" ng-show="SelectedCliente.Favorito"></span> 
        <h4 class="modal-title">Recepci&oacute;n de Veh&iacute;culo</h4> 
      </div>
      <div class="modal-body">
          <ul id="otTabs" class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#otinfo" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
              <li role="presentation"><a href="#otMant" aria-controls="otMant" role="tab" data-toggle="tab">Mantenimiento</a></li>
              <li role="presentation" ><a href="#otInsumos" aria-controls="otInsumos" role="tab" data-toggle="tab">Insumos</a></li>
              </ul>
          <div class="tab-content">
              @* ========> OT INFO <======== *@
              <div role="tabpanel" class="tab-pane fade in active" id="otinfo">
                  <div class="form-group row">

                      <div class="col-md-5">
                          <label>Cliente</label>
                          <div>
                              {{SelectedCliente.Nombre}}
                          </div>
                      </div>

                      <div class="col-md-7">
                          <label>Veh&iacute;culo</label>
                          <div>
                              {{SelectedVehiculo.Modelo.VehiculoMarca.Nombre + ' '+SelectedVehiculo.Modelo.Nombre+' Año '+SelectedVehiculo.Anio}}
                          </div>
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-md-4">
                          <label>No. Orden</label> <span class="required"> *</span>
                          <input type="number" required ng-unique="/api/OrdenesTrabajos/ExisteNoOrden" ng-modid="{{nuevoModel.Id}}" ng-model="nuevoModel.NoOrden" ng-prevValue="{{editingModel.NoOrden}}"
                                 class="form-control" ng-minlength="3" ng-maxlength="4" ng-class="{'required-dirty' : modelForm.NoOrden.$dirty && modelForm.NoOrden.$invalid}" name="NoOrden" />
                      </div>
                      <div class="col-md-4">
                          <label>Fecha</label> <span class="required"> *</span>
                          <md-datepicker ng-model="nuevoModel.Fecha" required></md-datepicker>
                      </div>
                      <div class="col-md-4">
                          <label>Estado</label> <span class="required"> *</span>
                          <div class="radio">
                              <label>
                                  <input type="radio" ng-model="nuevoModel.Entregado" ng-value=false checked name="Entregado" ng-required="!nuevoModel.Entregado">
                                  Recibido
                              </label>
                          </div>
                          <div class="radio">
                              <label>
                                  <input type="radio" ng-model="nuevoModel.Entregado" ng-value=true name="Entregado" ng-required="!nuevoModel.Entregado">
                                  Entregado
                              </label>
                          </div>
                      </div>

                  </div>
                  <div class="form-group row">
                      <div class="col-md-12">

                          <div ng-show="modelForm.NoOrden.$error.unique && modelForm.NoOrden.$dirty" class="alert alert-danger" role="alert">
                              Este n&uacute;mero de orden ya est&aacute; en uso.
                          </div>
                      </div>
                  </div>

              </div>
              @* ========> OT MAINTENANCE <======== *@
              <div role="tabpanel" class="tab-pane fade" id="otMant">
                  <div class="form-group row">
                      <div class="col-md-12">
                          <div>
                              <label>Servicios</label>
                          </div>
                          <label class="checkbox-inline" ng-repeat="servicio in servicios">
                              <input type="checkbox" checklist-model="nuevoModel.Servicios" checklist-value="servicio">
                              {{servicio.Nombre}}
                          </label>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>Aver&iacute;as</label>
                      <textarea rows="7" class="form-control" name="averia" ng-model="nuevoModel.Fallas" spellcheck></textarea>
                  </div>
                  <div class="form-group">
                      <label>Diagn&oacute;stico</label>
                      <textarea rows="7" class="form-control" name="averia" ng-model="nuevoModel.Diagnostico" spellcheck></textarea>
                  </div>
                  <div class="form-group">
                      <label>Reparaciones</label>
                      <textarea rows="7" class="form-control" ng-model="nuevoModel.Reparaciones" spellcheck></textarea>
                  </div>
              </div>
              @* ========> OT INSUMOS <======== *@
              <div role="tabpanel" class="tab-pane fade" id="otInsumos">
                  <div class="form-group ">
                      <div layout="column" ng-cloak="">
                          <md-chips ng-model="selInsumosProvs" md-autocomplete-snap="" md-require-match="true">
                              <md-autocomplete md-selected-item="selInsumo" md-search-text="buscarInsumo" md-items="item in querySearch(buscarInsumo, SelectedVehiculo.Insumos)"
                                               md-item-text="item.Nombre" placeholder="Buscar insumo">
                                  <span md-highlight-text="buscarInsumo">{{item.Nombre}} </span>
                              </md-autocomplete>
                              <md-chip-template>
                                  <span>
                                      <span>test</span>
                                      <strong>{{$chip.Nombre}}</strong>
                                  </span>
                              </md-chip-template>
                          </md-chips>
                      </div>
                  </div>
                  <div class="form-group" ng-show="selInsumosProvs.length > 0">
                      <table class="table table-striped">
                          <thead>
                              <tr>
                                  <th>Insumo</th>
                                  <th>Proveedor <span class="required"> *</span></th>
                                  <th>Precio <span class="required"> *</span></th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr ng-repeat="insumo in selInsumosProvs">
                                  <td>{{insumo.Nombre}}</td>
                                  <td>
                                      <md-select ng-model="insumo.IdProveedor" required>
                                          <md-option ng-repeat="prov in proveedores" value="{{prov.IdProveedor}}">
                                              {{prov.Nombre}}
                                          </md-option>
                                      </md-select>
                                  </td>
                                  <td>  <input type="number" ng-model="insumo.Precio" class="form-control" required /></td>
                              </tr>
                          </tbody>
                          <tfoot>
                              <tr>
                                  <td colspan="3">
                                      <b>Total</b> {{selInsumosProvs | sumByKey: 'Precio'}}
                                  </td>
                              </tr>
                          </tfoot>
                      </table>

                  </div>

              </div>
          </div>
          
          </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-default" data-dismiss="modal" ng-click="restablecerNuevo()" >Cerrar</button>
          <button type="submit" class="btn btn-success" ng-disabled="modelForm.$invalid" ng-click="nuevoModel.editar ? guardar() : agregar()" data-dismiss="modal">Guardar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>

             </div>
<script>

</script>