@{
    ViewBag.Title = "Ordenes Trabajos";
}
@section angularscripts{
<script src="~/Scripts/app/Controllers/ProveedoresController.js"></script>
    <script src="~/Scripts/app/Controllers/OrdenesController.js?V1.1.2"></script>
}
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Ordenes Trabajos</h1>
            <h5>En este modulo podr&aacute; crear y modificar ordenes de trabajos.</h5>
        </div>
    </div>
</div>
<div class="row" ng-controller="OrdenesTrabajosController">
   <div class="col-xs-12">
       <ul class="nav nav-tabs" role="tablist">
           <li role="presentation" class="active"><a href="#tabActiveOrders" aria-controls="tabActiveOrders" role="tab" data-toggle="tab"><span class="badge">{{filtered.length}}</span> Ordenes Activas </a></li>
           <li role="presentation"><a href="#tabSearch" aria-controls="tabSearch" role="tab" data-toggle="tab"><i class="fa fa-search"></i> B&uacute;squeda</a></li>
           <li role="presentation"><a href="#tabDirectorio" aria-controls="tabSearchtabDirectorio" role="tab" data-toggle="tab"><i class="fa fa-phone-square"></i> Directorio</a></li>
       </ul>
       <div class="tab-content">
           @* ========> ORDENES ACTIVAS <======== *@
           <div role="tabpanel" class="tab-pane fade in active" id="tabActiveOrders">
               <div class="row">
                   <div class="col-lg-3 col-md-4 col-sm-6" ng-repeat="orden in modelos | ordenesactivas | orderObjectBy:'NoOrden':true as filtered ">
                       <div class="panel panel-red">
                           <div class="panel-heading" role="tab">
                               <h4 class="panel-title"></h4>
                           </div>
                           <div data-toggle="modal"
                                data-backdrop="static"
                                data-keyboard="false"
                                data-target="#viewOrder" ng-click="editar(orden.Vehiculo.Cliente, orden.Vehiculo, orden)"
                                style="cursor:pointer"
                                class="panel-body {{orden.FechaPrometida && orden.DaysOverdue < 0 ? 'list-group-item-danger' : ''}}{{orden.FechaPrometida && orden.DaysOverdue >= 0 && orden.DaysOverdue < 3 ? 'list-group-item-warning' : ''}}">

                               <div class="orden-activa-cuerpo">
                                   <h4 class="list-group-item-heading"><strong>{{orden.Vehiculo.Cliente.Nombre}}</strong></h4>
                                   <div class=""></div>
                                   <h3 class="list-group-item-heading"> {{orden.Vehiculo | vehicleInfo}}</h3>
                                   <h4 class="list-group-item-heading">Placa: {{orden.Vehiculo.Placa}}</h4>
                                   <p class="list-group-item-text">
                                       <strong>{{parseOrden(orden.NoOrden.toString())}}</strong>
                                       <br />
                                       Fecha Prometida: <label>{{orden.FechaPrometida ? "" : "-"}}{{orden.FechaPrometida | date:'dd/MM/yyyy'}}</label>
                                   </p>
                                   <div class="info-final">
                                       <p class="list-group-item-text">
                                           Reparaciones pendientes? <span class="pull-right"><strong>{{orden.Diagnosticos.some(tienePendientes) ? 'Si' : 'No'}}</strong></span>
                                       </p>
                                       <p class="list-group-item-text">
                                           Cotizaciones pendientes? <span class="pull-right"><strong>{{orden.InsumosCotizados.some(tieneCotizacionesPendientes) ? 'Si' : 'No'}}</strong></span>
                                       </p>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           @* BUSQUEDA *@
           <div role="tabpanel" class="tab-pane" id="tabSearch">
               <div class="row">
                   <div class="col-md-12">
                       <div class="input-group custom-search-form">
                           <span class="input-group-btn">
                               <button class="btn btn-success" data-toggle="modal" data-target="#manageClient" data-backdrop="static" data-keyboard="false"
                                       ng-click="addClient()">
                                   <i class="fa fa-plus-square"></i>
                               </button>
                               <button class="btn btn-default" type="button">
                                   <i class="fa fa-search"></i>
                               </button>
                           </span>

                           <input type="text" class="form-control" placeholder="Escriba aqu&iacute; Nombre de Cliente o Matricula del Veh&iacute;culo..." ng-disabled="!modelos"
                                  ng-model="filter" value="">

                       </div>

                   </div>
               </div>
               <div class="row">

                   <div class="col-md-12 client-box" ng-repeat="cliente in modelos | porclienteoplaca: filter.toLowerCase()">
                       <span>
                           <a class="page-header-edit" ng-click="editClient(cliente)"
                              data-toggle="modal" data-target="#manageClient">
                               <i class="fa fa-edit fa-2x"></i>
                           </a>

                           <span class="huge editor" data-toggle="modal" data-target="#viewClient" data-backdrop="static" data-keyboard="false" ng-click="editClient(cliente)">{{cliente.Nombre}} <small>Tel.: {{cliente.Telefono}}</small></span>
                       </span>
                       <hr />
                       <div class="row col-md-12 flex-box md-padding" layout-xs="column" layout="row">
                           <div class="panel panel-red" flex-xs flex-gt-xs="22" layout="column" style="margin-right:5px" ng-repeat="vehiculo in cliente.Vehiculos | getAllByKey: (cliente.PorPlaca ? 'Placa' : null ) : filter">

                               <div class="panel-heading panel-heading-veh" ng-click="editVeh(cliente, vehiculo)"
                                    data-toggle="modal" data-target="#viewVehicle" data-backdrop="static" data-keyboard="false">
                                   <div class="row">
                                       <div class="col-xs-3">
                                           <i class="fa fa-car fa-5x"></i>
                                       </div>
                                       <div class="col-xs-9 text-right">
                                           <div>{{vehiculo.Modelo.VehiculoMarca.Nombre + ' ' +vehiculo.Modelo.Nombre+' '+vehiculo.Anio}}</div>
                                           <div><strong>Placa {{vehiculo.Placa}}</strong> </div>
                                           <div>{{vehiculo.Cliente.Nombre}}</div>
                                       </div>
                                   </div>
                               </div>
                               <div class="panel-body">
                                   <button type="button" class="btn btn-default btn-block" ng-if="vehiculo.OrdenesTrabajos.length == 0" disabled>Sin servicios</button>
                                   <div class="dropdown" ng-if="vehiculo.OrdenesTrabajos.length > 0">
                                       <button class="btn btn-default dropdown-toggle btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                           Ordenes
                                           <span class="caret"></span>
                                       </button>
                                       <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                           <li ng-repeat="ordenTrabajo in vehiculo.OrdenesTrabajos">
                                               <a href="#" data-toggle="modal" data-target="#viewOrder" ng-click="editar(cliente, vehiculo, ordenTrabajo)">
                                                   <div class="panel-body">
                                                       <i class="fa fa-comment fa-sticky-note"></i> {{parseOrden(ordenTrabajo.NoOrden.toString())}}
                                                       <span class="pull-right text-muted small">
                                                           <em>{{ordenTrabajo.Fecha | date: 'dd/MM/yyyy'}}</em>
                                                       </span>
                                                   </div>
                                               </a>
                                           </li>
                                       </ul>
                                   </div>
                               </div>
                               <a href="#">
                                   <div class="panel-footer panel-green"
                                        data-toggle="modal" data-target="#nuevaOrdenTrabajo" ng-click="editar(cliente, vehiculo)">
                                       <span class="pull-left">Crear Orden</span>
                                       <span class="pull-right"><i class="fa fa-plus"></i></span>
                                       <div class="clearfix"></div>
                                   </div>
                               </a>
                               <a href="#">
                                   <div class="panel-footer panel-green" ng-click="editVeh(cliente, vehiculo)"
                                        data-toggle="modal" data-target="#manageVehiculo" data-backdrop="static" data-keyboard="false">

                                       <span class="pull-left">Editar</span>
                                       <span class="pull-right"><i class="fa fa-car"></i> <i class="fa fa-pencil"></i> </span>
                                       <div class="clearfix"></div>
                                   </div>
                               </a>
                           </div>
                           <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#manageVehiculo" data-backdrop="static" data-keyboard="false" ng-click="addVeh(cliente)"> <i class="fa fa-plus-square"></i></button>

                       </div>

                   </div>
               </div>
           </div>
           @* DIRECTORIO *@
           <div id="tabDirectorio" class="tab-pane" role="tabpanel">
               <div class="row">
                   <div class="col-sm-12">
                       <input type="text" ng-model="busquedaProvDir" class="form-control" placeholder="Escribe aqu&iacute; el nombre del proveedor o el area a la que pertenece" />
                   </div>
               </div>
               <div class="row" ng-show="busquedaProvDir">
                   {{proveedoresFiltered = (proveedores | propiedadOarray: 'Nombre' : 'Actividades' : 'Nombre' : busquedaProvDir | orderBy:'Nombre');""}}

                   <div class="col-sm-12">
                       <table class="table table-striped table-bordered">
                           <thead>
                               <tr>
                                   <th>Proveedor</th>
                                   <th>Tel&eacute;fono</th>
                                   <th>Correo</th>
                                   <th>&Aacute;reas</th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr ng-repeat="prov in proveedoresFiltered">
                                   <td class="col-sm-4">{{prov.Nombre}} </td>
                                   <td class="col-sm-2">{{prov.Telefono}}</td>
                                   <td class="col-sm-3">{{prov.Correo}}</td>
                                   <td class="col-sm-3">
                                       <ul>
                                           <li ng-repeat="area in prov.Actividades">{{area.Nombre}}</li>
                                       </ul>
                                   </td>
                               </tr>
                           </tbody>
                       </table>
                   </div>

               </div>
           </div>
           <div ng-controller="VehiculosController">
               <manage-vehiculo></manage-vehiculo>
               <view-vehicle></view-vehicle>
           </div>
           <div ng-controller="ClientesController">
               <manage-client></manage-client>
               <view-client></view-client>
           </div>
           <manage-provider ng-controller="ProveedoresController"></manage-provider>
           <view-order></view-order>
           {{modalCaller='#nuevaOrdenTrabajo';""}}
           @* *******************************  OT FORM ******************************* *@
           <manage-order></manage-order>
       </div>
   </div>
    @section scripts{
        <script>
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr("href");
                $(target).find("input:first").focus();
            });
        </script>}
</div>
