@{
    ViewBag.Title = "Proveedores";
}

<div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                    <h1 >Proveedores</h1>
                    <h5>En este modulo podra añadir y editar Proveedores.</h5> 
                        </div>
                </div>
            </div>
<div class="row" ng-controller="ProveedoresController">
    <manage-provider></manage-provider>
                <div class="col-lg-5 col-sm-5 col-xs-8">

    <table class="table table-striped">
        <thead>
          <tr>  <th>
            Nombre
        </th>
              <th>RNC</th>
            <th>Telefono</th>

              <th></th>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="proveedor in proveedores">
            <td>
                {{proveedor.Nombre}}
            </td>
            <td>
                {{proveedor.RNC}}
            </td>
               <td>
                {{proveedor.Telefono}}
            </td>
            <td>
               <button type="submit" class="btn btn-warning" ng-click="editar(proveedor)" data-toggle="modal" data-target="#proveedoresForm"> <i class="fa fa-edit"></i></button>
            </td>
        </tr>
            </tbody>
    </table>

                    </div>
                <div class="col-lg-5 col-sm-5 col-xs-8">
               <button  class="btn btn-success" data-toggle="modal" data-target="#proveedoresForm" > <i class="fa fa-plus-square"></i></button>
</div>
    </div>