@{
    ViewBag.Title = "Vehiculos";
}
<div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                    <h1 >Veh&iacute;culos</h1>
                    <h5>En este modulo podra añadir y editar Veh&iacute;culos.</h5>
                        </div>
                </div>
            </div>
<div class="row" ng-controller="VehiculosController">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-6">

                 <div class="input-group custom-search-form" >
                                <input type="text" class="form-control" placeholder="Escriba aqu&iacute; Nombre de Cliente o Matricula del Veh&iacute;culo..." ng-disabled="!clientes"
                                    ng-model="filter" value="">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
            </div>
             <div class="col-md-2">
               <button  class="btn btn-success" data-toggle="modal" data-target="#manageVehiculo" data-backdrop="static" data-keyboard="false"> <i class="fa fa-plus-square"></i></button>
            </div>
        </div>
    </div>
        <div class="row" >
            <div class="col-md-12" style="margin-top:5px;margin-left:1px;">
        <div class="col-md-12 flex-box md-padding" ng-repeat="cliente in clientes | porclienteoplaca: filter.toLowerCase()" layout-xs="column" layout="row">
                     <div class="panel panel-default" flex-xs flex-gt-xs="22" layout="column" style="margin-right:5px"  ng-repeat="vehiculo in cliente.Vehiculos | getAllByKey: (cliente.PorPlaca ? 'Placa' : null ) : filter">

                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-car fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div >{{vehiculo.Info}}</div>
                                    <div><strong>Placa {{vehiculo.Placa}}</strong> </div>
                                    <div>{{cliente.Nombre}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <dl class="dl-horizontal">
                              <dt>Color</dt>
                              <dd>{{vehiculo.Color == null ? 'No Definido' : vehiculo.Color}}</dd>
                                <dt>Kilometraje</dt>
                                <dd>{{vehiculo.Kilometraje == null ? 'No Definido' : vehiculo.Kilometraje}}</dd>
                                <dt>NoChasis</dt>
                              <dd>{{vehiculo.NoChasis == null ? 'No Definido' : vehiculo.NoChasis}}</dd>
                            </dl>
                        </div>
                          <a href="#">
                            <div class="panel-footer panel-green" data-toggle="modal" data-target="#manageVehiculo" ng-click="editar(vehiculo)">
                                <span class="pull-left">Modificar</span>
                                <span class="pull-right"><i class="fa fa-pencil"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                         <a href="#" ng-if="vehiculo.CanDelete">
    <div class="panel-footer panel-green" data-toggle="modal" data-target="#confirmDelete" ng-click="eliminarVehiculo(cliente, vehiculo)">
        <span class="pull-left">Eliminar</span>
        <span class="pull-right"><i class="fa fa-trash-o"></i></span>
        <div class="clearfix"></div>
    </div>
</a>
                    </div>
            </div>
                </div>
        </div>
    <manage-vehiculo></manage-vehiculo>
    <div class="modal fade" tabindex="-1" role="dialog" id="confirmDelete">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmaci&oacute;n</h4>
                </div>
                <div class="modal-body">
                    Desea eliminar este Veh&iacute;culo?
                    <div>
                        <strong>{{deleteVehiculo.Info}} Placa: {{deleteVehiculo.Placa}}</strong>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success" data-dismiss="modal" ng-click="eliminar()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    </div>
