@{
    ViewBag.Title = "Vehiculos";
}
<div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                    <h1 >Veh&iacute;culos</h1>
                    <h5>En este modulo podra añadir y editar Veh&iacute;culos.</h5>
                        </div>
                </div>
            </div>
<div class="row" ng-controller="VehiculosController">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-6">

                 <div class="input-group custom-search-form" >
                                <input type="text" class="form-control" placeholder="Escriba aqu&iacute; Nombre de Cliente o Matricula del Veh&iacute;culo..." ng-disabled="!clientes"
                                    ng-model="filter" value="">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
            </div>
             <div class="col-md-2">
               <button  class="btn btn-success" data-toggle="modal" data-target="#manageModel" data-backdrop="static" data-keyboard="false"> <i class="fa fa-plus-square"></i></button>
            </div>
        </div>
    </div>
        <div class="row" >
            <div class="col-md-12" style="margin-top:5px;margin-left:1px;">
        <div class="col-md-12 flex-box" ng-repeat="cliente in clientes | porclienteoplaca: filter.toLowerCase()" layout-xs="column" layout="row" class="md-padding">
                     <div class="panel panel-default" flex-xs flex-gt-xs="22" layout="column" style="margin-right:5px"  ng-repeat="vehiculo in cliente.Vehiculos | getAllByKey: (cliente.PorPlaca ? 'Placa' : null ) : filter">

                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-car fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div >{{vehiculo.Info}}</div>
                                    <div><strong>Placa {{vehiculo.Placa}}</strong> </div>
                                    <div>{{cliente.Nombre}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <dl class="dl-horizontal">
                              <dt>Color</dt>
                              <dd>{{vehiculo.Color == null ? 'No Definido' : vehiculo.Color}}</dd>
                                <dt>Kilometraje</dt>
                                <dd>{{vehiculo.Kilometraje == null ? 'No Definido' : vehiculo.Kilometraje}}</dd>
                                <dt>NoChasis</dt>
                              <dd>{{vehiculo.NoChasis == null ? 'No Definido' : vehiculo.NoChasis}}</dd>
                            </dl>
                        </div>
                          <a href="#">
                            <div class="panel-footer panel-green" data-toggle="modal" data-target="#manageModel" ng-click="editar(vehiculo)">
                                <span class="pull-left">Modificar</span>
                                <span class="pull-right"><i class="fa fa-pencil"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
            </div>
                </div>
        </div>
            <form name="modelForm">

                    <div class="modal fade" tabindex="-1" role="dialog" id="manageModel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <span class="star" ng-show="nuevoModel.Cliente.Favorito"></span> 
        <h4 class="modal-title">{{nuevoModel.editar ? 'Modificar' : 'Agregar'}} Veh&iacute;culo</h4>
      </div>
      <div class="modal-body">
  <div class="form-group">
    <label>Propietario</label><span class="required"> *</span>
     <select class="form-control" ng-model="nuevoModel.IdCliente" required ng-options="cliente.IDCliente as cliente.Nombre for cliente in clientes"></select>
  </div>
          <div class="form-group row">

          <div class="col-md-3">
    <label>Marca</label><span class="required"> *</span>
     <select class="form-control" ng-model="SelectedMarca" ng-options="marca as marca.Nombre for marca in marcas"></select>
  </div>
            <div class="col-md-3">
    <label>Modelo</label><span class="required"> *</span>
     <select class="form-control" ng-model="nuevoModel.IdModelo" required ng-options="modelo.IdModelo as modelo.Nombre for modelo in SelectedMarca.Modelos"></select>
  </div>
              <div class="col-md-3">
    <label>A&ntilde;o</label><span class="required"> *</span>
                  <input type="number" required ng-model="nuevoModel.Anio" class="form-control" ng-maxlength="4" ng-minlength="4" ng-class="{'required-dirty' : modelForm.Anio.$dirty && modelForm.Anio.$invalid}" name="Anio"/>
  </div>

              <div class="col-md-3">
    <label>Color</label>
                  <input type="text" ng-model="nuevoModel.Color" class="form-control"/>
  </div>
              </div>
            <div class="form-group">
                <label>Combustible</label> <span class="required"> *</span>
    <label class="radio-inline" ng-repeat="com in combustibles | orderObjectBy: 'Nombre' : '-'">
  <input type="radio" name="IdCombustible" ng-model="nuevoModel.IdCombustible" value="{{com.IdCombustible}}" ng-required="!nuevoModel.IdCombustible"> {{com.Nombre}}
</label>
   </div>
          <div class="form-group row">

          <div class="col-md-4">
    <label>Placa </label><span class="required"> *</span>
                       <input type="text" required ng-unique="/api/Vehiculos/ExistePlaca" ng-modid="{{nuevoModel.IdVehiculo}}" ng-model="nuevoModel.Placa" ng-prevValue="{{editingModel.Placa}}"
                           class="form-control" ng-minlength="7" ng-maxlength="8" ng-class="{'required-dirty' : modelForm.Placa.$dirty && modelForm.Placa.$invalid}" name="Placa"/>
              
  </div>
            <div class="col-md-5">
    <label>No. Chasis</label>
                            <input type="text" ng-model="nuevoModel.NoChasis" class="form-control"/>
  </div>
              <div class="col-md-3">
    <label>Kilometraje</label>
                  <input type="number" ng-model="nuevoModel.Kilometraje" class="form-control"/>
  </div>
              </div>
          <div class="form-group row">
            <div class="col-md-12">

              <div ng-show="modelForm.Placa.$error.unique && modelForm.Placa.$dirty" class="alert alert-danger" role="alert">
    Esta <strong>placa</strong> ya esta asociada a un veh&iacute;culo.
  </div>
  </div>
</div>
            <div class="form-group " >
    <label>Insumos</label>
<div layout="column" ng-cloak="" >
    <md-chips ng-model="nuevoModel.Insumos" md-autocomplete-snap=""  md-require-match="true">
      <md-autocomplete md-selected-item="selInsumo" md-search-text="buscarInsumo" md-items="item in querySearch(buscarInsumo)" 
          md-item-text="item.Nombre" placeholder="Buscar insumo">
        <span md-highlight-text="buscarInsumo">{{item.Nombre}} </span>
      </md-autocomplete>
      <md-chip-template>
        <span>
          <strong>{{$chip.Nombre}}</strong>
        </span>
      </md-chip-template>
    </md-chips>
  </md-content>
</div>
</div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" ng-click="restablecerNuevo()" >Cerrar</button>
          <button type="submit" class="btn btn-success" ng-disabled="modelForm.$invalid" ng-click="nuevoModel.editar ? guardar() : agregar()" data-dismiss="modal">Guardar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>

    </div>
